[Unit]
Description=Platform internal resiliency tester
Requires=etcd2.service
Requires=docker.service
After=etcd2.service
After=docker.service
After=network.service
After=registry.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
RestartSec=30
KillMode=none
ExecStartPre=-/usr/bin/docker kill go-rebound
ExecStartPre=-/usr/bin/docker rm go-rebound
ExecStartPre=-/usr/bin/docker pull registry.scriptrock.org/scriptrock/go-rebound
ExecStart=/usr/bin/docker run -v /var/run/docker.sock:/run/docker.sock \
	-v /var/run/fleet.sock:/run/fleet.sock \
	-e DOCKER_SOCKET=/run/docker.sock \
	-e FLEET_SOCKET=/run/fleet.sock \
	-p 6600:8080 \
	--name go-rebound \
	registry.scriptrock.org/scriptrock/go-rebound
ExecStop=/usr/bin/docker stop go-rebound